.custom-html-style blockquote:has(a[href="@carousel"]) {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  aspect-ratio: 2 / 1;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent !important;
}

.custom-html-style p:has(a[href="@carousel"]) {
  display: flex;
  height: 90%;
  width: 90%;
  margin: 0;
  padding: 8px;
  background: #333e;
  border-radius: 8px;
  user-select: none;
}

.custom-html-style p:has(a[href="@carousel"] + :checked) {
  position: fixed;
  inset: 5%;
  z-index: 99999;
}


.custom-html-style p a[href="@carousel"] ~ label {
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 0;
}

.custom-html-style p a[href="@carousel"] + input + label {
  justify-content: start;
  order: 1;
}

.custom-html-style p a[href="@carousel"] + input ~ :checked + label {
  align-items: start;
}

.custom-html-style p a[href="@carousel"] ~ label::after {
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
width: 40px;
height: 40px;
z-index: 1;
content: "›";
font-size: 2em;
background: #0005;
border-radius: 8px;
}

.custom-html-style p a[href="@carousel"] + input ~ :checked + label::after {
content: "‹";
}

.custom-html-style p a[href="@carousel"] + input + label::after {
content : "⛶";
}

.custom-html-style p a[href="@carousel"] ~ label::after {
filter: opacity(0);
}

.custom-html-style p:hover a[href="@carousel"] ~ label::after {
filter: opacity(0.3);
}

.custom-html-style p a[href="@carousel"] ~ label:hover::after {
filter: opacity(1);
}

.custom-html-style p a[href="@carousel"] ~ * {
display: none;
}

.custom-html-style p a[href="@carousel"] ~ :is(:checked, input:first-of-type):not(:has(+ label + img + :checked)) + label + img,
.custom-html-style p a[href="@carousel"] ~ :checked:not(:has(+ label + img + :checked)) + label,
.custom-html-style p a[href="@carousel"] ~ :is(:checked, input:first-of-type) + label + img + :not(:checked) + label,
.custom-html-style p a[href="@carousel"] + input + label {
display: flex;
}