.custom-html-style blockquote:has(a[href="@sum"]) {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.custom-html-style p:has(a[href="@sum"]) {
  visibility: hidden;
  margin: 0;
}

.custom-html-style p:has(a[href="@sum"]):not(:hover)::before {
  visibility: visible;
  width: 32px;
  height: 32px;
  content: "";
  background: url(../svg/summary.svg), var(--zz-ov);
  background-size: 100%;
  border-radius: 4px;
}

.custom-html-style p:has(a[href="@sum"]):hover {
  visibility: visible;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  width: max-content;
  max-width: 20vw;
  max-height: 50vh;
  padding: 0 10px 10px;
  background: var(--zz-ov);
  border-radius: 4px;
}

.custom-html-style a[href="@sum"] ~ a {
  display: inline-block;
  width: 100%;
  padding: 3px 10px 0;
  margin: 3px 0;
  overflow-wrap: break-word;
  color: inherit;
  background: var(--zz-bg);
  border-radius: 4px;
  border-bottom: 3px solid transparent;
  transition: border-bottom 300ms;
}

.custom-html-style a[href="@sum"] ~ a:hover {
  border-bottom-color: var(--zz-fg);
}

.custom-html-style a[href="@sum"] + strong {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--zz-fg);
  font-size: 1.5em;
}