.fs {
  position: sticky;
  z-index: 9998;
  top: 10px;
  width: 20px;
  height: 20px;
  float: right;
  appearance: none;
  cursor: pointer;
  background: url(https://zapzep.github.io/soz-panel/fs.png),
    rgb(0 0 0 / 0.7);
  background-size: 100%;
  box-shadow: 0 0 0 4px rgb(0 0 0 / 0.7);
  border-radius: 4px;
}

:has(> .fs:checked) {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px 15px;
  overflow-y: auto;
  background: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 / 0.3));
}

:has(> .fs:checked.sasp) {
  background-color: #3c3c3c;
}

:has(> .fs:checked.lspd) {
  background-color: #191b28;
}
