:has(> div > #transmi) {
  background: #11131c;
}

:has(> div > #transmi ~ ul:first-of-type > :first-child :checked) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

:has(> #transmi) > ul:first-of-type {
  position: sticky;
  top: 0;
  z-index: 9998;
  margin: 0;
  font-size: 101%;
}

:has(> #transmi) > ul:first-of-type * {
  margin: 0;
}

:has(> #transmi) > ul:first-of-type > :first-child {
  position: absolute;
  right: 0;
}

:has(> #transmi) > ul:first-of-type > :first-child > p > label {
  display: none;
}

:has(> #transmi) > ul:first-of-type > :first-child > p > input {
  width: 32px;
  height: 32px;
  margin: 0 !important;
  appearance: none;
  cursor: pointer;
  background: url(https://zapzep.github.io/soz-panel/fs.svg),
    rgb(30 30 30 / 0.95);
  background-size: 100%;
  border-radius: 4px;
}

:has(> #transmi) > ul:first-of-type > :nth-child(2) {
  position: absolute;
  left: 0;
}

:has(> #transmi) > ul:first-of-type > :nth-child(2):not(:hover) {
  width: 32px;
  height: 32px;
  padding: 0;
  background: url(https://zapzep.github.io/soz-panel/sum.svg),
    rgb(30 30 30 / 0.95);
  background-size: 100%;
  border-radius: 4px;
}

:has(> #transmi) > ul:first-of-type > :nth-child(2):not(:hover) > p {
  display: none;
}

:has(> #transmi) > ul:first-of-type > :nth-child(2) > p {
  display: flex;
  flex-flow: column nowrap;
  width: max-content;
  max-width: 20vw;
  max-height: 50vh;
  overflow: auto;
  padding: 0 10px 10px;
  background: rgb(30 30 30 / 0.95);
  border-radius: 4px;
}

:has(> #transmi) > ul:first-of-type > :nth-child(2) > p > strong {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #ffc777;
  font-size: 150%;
}

:has(> #transmi) > ul:first-of-type > :nth-child(2) > p > a {
  display: inline-block;
  width: 100%;
  padding: 3px 10px 0;
  margin: 3px 0;
  color: inherit;
  background: rgb(255 255 255 / 0.1);
  border-radius: 4px;
  border-bottom: 3px solid transparent;
  overflow-wrap: anywhere;
  transition: border-bottom 300ms;
}

:has(> #transmi) > ul:first-of-type > :nth-child(2) > p > a:hover {
  border-bottom-color: #ffc777;
}

:has(> #transmi) > h6 > strong {
  display: block;
  width: fit-content;
  color: #ef4444;
  border: 2px solid;
  padding: 10px 15px;
  margin: auto;
}

:has(> #transmi) > p:has(+ h1:first-of-type) {
  display: flex;
  justify-content: center;
}

:has(> #transmi) > p:has(+ h1:first-of-type) > img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

:has(> #transmi) > h1:first-of-type {
  text-align: center;
  font-size: 3em;
}

:has(> #transmi) table, img {
  margin: auto;
}

:has(> #transmi) :is(h1, h2) {
  color: #ffc777;
}

:has(> #transmi) :is(h4, h5, h6) {
  margin: 12px 0;
}

:has(> #transmi) :is(h1, h2, h3, h4, h5, h6) > input[type="checkbox"] {
  display: none;
}

:has(> #transmi) :is(h1, h2, h3, h4, h5, h6) > input[type="checkbox"] + label {
  display: block;
  flex: 1;
  cursor: pointer;
  background: #191b28;
  padding: 3px 12px 0;
  border-radius: 4px;
  border-bottom: 3px solid transparent;
  transition: border-color 300ms;
}

:has(> #transmi)
  :is(h1, h2, h3, h4, h5, h6)
  > input[type="checkbox"]
  + label:hover {
  border-bottom-color: color-mix(in srgb, currentColor 50%, transparent);
}

:has(> #transmi)
  :is(h1, h2, h3, h4, h5, h6)
  > input[type="checkbox"]:checked
  + label {
  border-bottom-color: currentColor;
}

:has(> #transmi)
  :is(h1, h2, h3, h4, h5, h6):has(> input[type="checkbox"]:not(:checked))
  + blockquote {
  display: none;
}

:has(> #transmi)
  div
  > :first-child:is(h1, h2, h3, h4, h5, h6):has(
    > input[type="checkbox"]:not(:checked)
  )
  ~ * {
  display: none;
}

:has(> #transmi)
  div:has(> :first-child > input[type="checkbox"]):has(
    > h4:first-child,
    > h5:first-child,
    > h6:first-child
  ) {
  background: #3c3c3c;
  border-radius: 4px;
}

:has(> #transmi)
  div:has(> :first-child > input[type="checkbox"]:checked):has(
    > h1:first-child,
    > h2:first-child,
    > h3:first-child,
    > h4:first-child,
    > h5:first-child,
    > h6:first-child
  ) {
  padding: 0 12px 1px;
}

:has(> #transmi)
  div
  > :first-child:is(h1, h2, h3, h4, h5, h6):has(
    > input[type="checkbox"]:checked
  ) {
  margin-left: -12px;
  margin-right: -12px;
}

:has(> #transmi) :is(h1,h2,h3,h4,h5,h6):has(img) {
  display: flex;
  align-items: center;
}

:has(> #transmi) :is(h1,h2,h3,h4,h5,h6) img {
  height: 80px;
}