/*  Themes  */

#app {
  --zz-bg: #3c3c3c;
  --zz-ov: #494949;
  --zz-fg: #ffffff;
  --zz-res: #ef4444;
}

.bg-\[\#3c3c3c\],
.sec-html:has(.sasp) {
  --zz-bg: #3c3c3c;
  --zz-ov: #494949;
  --zz-fg: #ffc777;
}

.bg-\[\#191b28\],
.sec-html:has(.lspd) {
  --zz-bg: #191b28;
  --zz-ov: #232638;
  --zz-fg: #7981ac;
}

.bg-\[\#203028\],
.sec-html:has(.bcso) {
  --zz-bg: #203028;
  --zz-ov: #2a3f35;
  --zz-fg: #88af9a;
}

.bg-\[\#432222\],
.sec-html:has(.mdr) {
  --zz-bg: #432222;
  --zz-ov: #552e36;
  --zz-fg: #aa5c6c;
}

/*  General styling  */

.sec-html {
  position: relative;
  z-index: 9999;
  background: var(--zz-bg);
}

.sec-html::before {
  position: absolute;
  inset: 0;
  z-index: -1;
  content: "";
  background: rgb(0 0 0 / 30%);
}

.custom-html-style p:has(a[href="@res"]) {
  width: fit-content;
  margin: 10px auto;
  padding: 10px 15px;
  color: var(--zz-res);
  border: 2px solid;
}

.custom-html-style > h1:first-of-type {
  font-size: 3em;
  text-align: center;
}

.custom-html-style :is(h1, h2) {
  color: var(--zz-fg);
}

.custom-html-style :is(h4, h5, h6) {
  margin: 12px 0;
}

.custom-html-style img[alt="@logo"] {
  width: 200px;
  height: 200px;
}

.custom-html-style table {
  margin: auto;
}

.custom-html-style tr:has(a[href="@blank"]) {
  background-color: #434343;
}

/*  Fullscreen  */

.sec-html:has(p > :checked ~ a[href="@fs"]) {
  position: fixed;
  inset: 0;
}

.custom-html-style blockquote:has(a[href="@fs"]) {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: end;
}

.custom-html-style p:has(a[href="@fs"]) {
  margin: 0;
  order: 1;
}

.custom-html-style p:has(a[href="@fs"]) input[type="checkbox"] {
  display: none;
}

.custom-html-style p:has(a[href="@fs"]) label::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  content: "⛶";
  background: var(--zz-ov);
  border-radius: 4px;
  font-size: 32px;
  overflow: hidden;
}

/*  Summary  */

.custom-html-style blockquote:has(> p a[href="@sum"]) {
  margin: 0 3px;
  padding: 0;
  border: 0;
  order: -1;
}

.custom-html-style blockquote:has(> p > a[href="@sum"]):not(:hover)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  content: "⋮☰";
  background: var(--zz-ov);
  border-radius: 4px;
  font-size: 20px;
  overflow: hidden;
}

.custom-html-style blockquote:not(:hover) > p:has(a[href="@sum"]) {
  display: none;
}

.custom-html-style p:has(a[href="@sum"]) {
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  width: max-content;
  max-width: 20vw;
  max-height: 50vh;
  padding: 0 10px 10px;
  margin: 0;
  background: var(--zz-ov);
  border-radius: 4px;
}

.custom-html-style a[href="@sum"] ~ a {
  display: inline-block;
  width: 100%;
  padding: 3px 10px 0;
  margin: 3px 0;
  overflow-wrap: break-word;
  color: inherit;
  background: var(--zz-bg);
  border-radius: 4px;
  border-bottom: 3px solid transparent;
  transition: border 300ms;
}

.custom-html-style a[href="@sum"] ~ a:hover {
  border-bottom-color: var(--zz-fg);
}

.custom-html-style a[href="@sum"] + strong {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--zz-fg);
  font-size: 1.5em;
}

/*  Drawer  */

.custom-html-style
  :is(h1, h2, h3, h4, h5, h6):has(> input[type="checkbox"]:first-child) {
  position: relative;
  padding: 3px 12px;
  border-radius: 4px;
  background: var(--zz-bg);
}

.custom-html-style
  :is(h1, h2, h3, h4, h5, h6)
  > input[type="checkbox"]:first-child {
  display: none;
}

.custom-html-style
  :is(h1, h2, h3, h4, h5, h6)
  > input[type="checkbox"]:first-child
  + label::before {
  position: absolute;
  inset: 0;
  content: "";
  border-bottom: 3px solid;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 300ms;
  cursor: pointer;
}

.custom-html-style
  :is(h1, h2, h3, h4, h5, h6):hover
  > input[type="checkbox"]:first-child
  + label::before {
  opacity: 0.5;
}

.custom-html-style
  :is(h1, h2, h3, h4, h5, h6)
  > input[type="checkbox"]:first-child:checked
  + label::before {
  opacity: 1;
}

.custom-html-style
  :is(h1, h2, h3, h4, h5, h6):has(
    > input[type="checkbox"]:first-child:not(:checked)
  )
  + :is(div, blockquote, table, img) {
  display: none;
}

.custom-html-style :is(h1, h2, h3, h4, h5, h6) + div {
  padding: 1px 12px;
}

.custom-html-style :is(h4, h5, h6) + div {
  background: var(--zz-bg);
  border-radius: 4px;
}

/*  Carousel  */

.custom-html-style blockquote:has(a[href="@carousel"]) {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  aspect-ratio: 2 / 1;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent !important;
}

.custom-html-style p:has(a[href="@carousel"]) {
  display: flex;
  height: 90%;
  width: 90%;
  margin: 0;
  padding: 8px;
  background: #333e;
  border-radius: 8px;
  user-select: none;
}

.custom-html-style p:has(a[href="@carousel"] + :checked) {
  position: fixed;
  inset: 5%;
  z-index: 99999;
}

.custom-html-style p a[href="@carousel"] ~ label {
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 0;
}

.custom-html-style p a[href="@carousel"] + input + label {
  justify-content: start;
  order: 1;
}

.custom-html-style p a[href="@carousel"] + input ~ :checked + label {
  align-items: start;
}

.custom-html-style p a[href="@carousel"] ~ label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  z-index: 1;
  content: "›";
  font-size: 2em;
  background: #0005;
  border-radius: 8px;
}

.custom-html-style p a[href="@carousel"] + input ~ :checked + label::after {
  content: "‹";
}

.custom-html-style p a[href="@carousel"] + input + label::after {
  content: "⛶";
}

.custom-html-style p a[href="@carousel"] ~ label::after {
  filter: opacity(0);
}

.custom-html-style p:hover a[href="@carousel"] ~ label::after {
  filter: opacity(0.3);
}

.custom-html-style p a[href="@carousel"] ~ label:hover::after {
  filter: opacity(1);
}

.custom-html-style p a[href="@carousel"] ~ * {
  display: none;
}

.custom-html-style
  p
  a[href="@carousel"]
  ~ :is(:checked, input:first-of-type):not(:has(+ label + img + :checked))
  + label
  + img,
.custom-html-style
  p
  a[href="@carousel"]
  ~ :checked:not(:has(+ label + img + :checked))
  + label,
.custom-html-style
  p
  a[href="@carousel"]
  ~ :is(:checked, input:first-of-type)
  + label
  + img
  + :not(:checked)
  + label,
.custom-html-style p a[href="@carousel"] + input + label {
  display: flex;
}
