section.sec-html > .section-container {
  background: linear-gradient(rgb(0 0 0 / 0.3)), #3c3c3c;
  &:has(> .custom-html-style > h4:first-child :checked) {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

section.sec-html > .section-container > .custom-html-style > h4:first-child {
  position: sticky;
  z-index: 9998;
  top: 10px;
  & > label {
    display: none;
  }
  & > input[type="checkbox"] {
    width: 32px;
    height: 32px;
    margin: 0 !important;
    float: right;
    appearance: none;
    cursor: pointer;
    background: url(https://zapzep.github.io/soz-panel/fs.svg), rgb(0 0 0 / 0.5);
    background-size: 100%;
    border-radius: 4px;
  }
}

section.sec-html
  > .section-container
  > .custom-html-style
  > h4:first-child
  + blockquote {
  position: sticky;
  z-index: 9998;
  top: 0;
  border: none;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  background: url(https://zapzep.github.io/soz-panel/sum.svg), rgb(0 0 0 / 0.5);
  background-size: 100%;
  border-radius: 4px;
  &:not(:hover) > p {
    display: none;
  }
  &:hover {
    background: none;
  }
  & > p {
    position: absolute;
    left: 0;
    width: max-content;
    max-width: 15vw;
    max-height: 40vh;
    overflow: auto;
    padding: 0 10px 10px;
    margin: 0;
    background: rgb(30 30 30 / 0.95);
    border-radius: 4px;
    & > strong {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #ffc777;
      font-size: 1.5em;
    }
    & > a {
      display: inline-block;
      width: 100%;
      color: inherit;
      background: rgb(255 255 255 / 0.1);
      border-radius: 4px;
      padding: 0 10px;
      margin: 3px 0;
      &:hover {
        background: rgb(255 255 255 / 0.3);
      }
    }
  }
}

section.sec-html > .section-container > .custom-html-style > hr:first-of-type {
  & + p > img {
    height: 200px;
    margin: auto;
  }
  & + p + h1 {
    text-align: center;
    color: #ffc777;
    font-size: 3em;
  }
}

section.sec-html
  > .section-container
  > .custom-html-style
  > p:is(:first-of-type, :last-of-type) {
  color: #ef4444;
  border: 2px solid;
  width: fit-content;
  margin: auto;
  padding: 4px;
}

section.sec-html
  > .section-container
  > .custom-html-style
  div:has(> h2:first-child > input[type="checkbox"]) {
  padding: 0 10px;
  & > h2:first-child {
    margin: 24px -10px;
  }
}

section.sec-html
  > .section-container
  > .custom-html-style
  div
  > h2:first-child {
  & > input[type="checkbox"] {
    display: none;
    & + label {
      display: flex;
      cursor: pointer;
      color: #ffc777;
      background: rgb(255 255 255 / 0.1);
      border-radius: 4px;
      padding: 0 10px;
    }
    &:checked + label {
      background: rgb(255 255 255 / 0.2);
    }
    & + label:hover {
      background: rgb(255 255 255 / 0.3);
    }
  }
  &:has(> input:not(:checked)) ~ * {
    display: none;
  }
}

section.sec-html
  > .section-container
  > .custom-html-style
  div:has(> h4:first-child > input[type="checkbox"]) {
  padding: 0 10px;
  border-radius: 4px;
  background: rgb(255 255 255 / 0.1);
  & > h4:first-child {
    margin: 12px -10px;
  }
}

section.sec-html
  > .section-container
  > .custom-html-style
  div
  > h4:first-child {
  & > input[type="checkbox"] {
    display: none;
    & + label {
      display: flex;
      cursor: pointer;
      background: rgb(255 255 255 / 0.1);
      border-radius: 4px;
      padding: 0 10px;
    }
    &:checked + label {
      background: rgb(255 255 255 / 0.2);
    }
    & + label:hover {
      background: rgb(255 255 255 / 0.3);
    }
  }
  &:has(> input:not(:checked)) ~ * {
    display: none;
  }
}
