#app {
  --zz-bg: #3c3c3c;
  --zz-ov: #494949;
  --zz-fg: #ffffff;
}

.bg-\[\#3c3c3c\], .sec-html:has(.sasp) {
  --zz-bg: #3c3c3c;
  --zz-ov: #494949;
  --zz-fg: #ffc777;
}

.bg-\[\#191b28\], .sec-html:has(.lspd) {
  --zz-bg: #191b28;
  --zz-ov: #232638;
  --zz-fg: #7981ac;
}

.bg-\[\#203028\], .sec-html:has(.bcso) {
  --zz-bg: #203028;
  --zz-ov: #2a3f35;
  --zz-fg: #88af9a;
}

.sec-html:has(p :checked ~ a[href="@fs"]) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.sec-html {
  background: var(--zz-bg);
}

.html-wrap {
  backdrop-filter: brightness(70%);
}

.custom-html-style blockquote:has(a[href="@fs"], a[href="@sum"]) {
  margin: 0;
  padding: 0;
  height: 0;
  border: none;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.custom-html-style p:has(a[href="@fs"]) {
  margin: 0;
  height: 0;
  display: flex;
  justify-content: end;
}

.custom-html-style p:has(a[href="@fs"]) input[type="checkbox"] {
  width: 32px;
  height: 32px;
  margin-right: 0 !important;
  appearance: none;
  cursor: pointer;
  background: url(https://zapzep.github.io/soz-panel/fs.svg), var(--zz-ov);
  background-size: 100%;
  border-radius: 4px;
  position: relative;
}

.custom-html-style p:has(a[href="@sum"]):not(:hover) {
  visibility: hidden;
}

.custom-html-style p:has(a[href="@sum"]):not(:hover)::before {
  content: "";
  visibility: visible;
  width: 32px;
  height: 32px;
  margin-left: -10px;
  background: url(https://zapzep.github.io/soz-panel/sum.svg), var(--zz-ov);
  background-size: 100%;
  border-radius: 4px;
}

.custom-html-style p:has(a[href="@sum"]) {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  width: max-content;
  max-width: 20vw;
  max-height: 50vh;
  overflow: auto;
  padding: 0 10px 10px;
  background: var(--zz-ov);
  border-radius: 4px;
}

.custom-html-style a[href="@sum"] ~ a {
  display: inline-block;
  width: 100%;
  padding: 3px 10px 0;
  margin: 3px 0;
  color: inherit;
  background: var(--zz-bg);
  border-radius: 4px;
  border-bottom: 3px solid transparent;
  overflow-wrap: anywhere;
  transition: border-bottom 300ms;
}

.custom-html-style a[href="@sum"] ~ a:hover {
  border-bottom-color: var(--zz-fg);
}

.custom-html-style a[href="@sum"] + strong {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--zz-fg);
  font-size: 150%;
}

.custom-html-style p:has(a[href="@res"]) {
  width: fit-content;
  color: #ef4444;
  border: 2px solid;
  padding: 10px 15px;
  margin: 10px auto;
}

.custom-html-style p:not(:has(> :not(img))):has(> img) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.custom-html-style img {
  width: 100%;
  object-fit: contain;
}

.custom-html-style img[alt="@logo"] {
  width: 200px;
  height: 200px;
}

.custom-html-style :is(h1, h2) {
  color: var(--zz-fg);
}

.custom-html-style :is(h4, h5, h6) {
  margin: 12px 0;
}

.custom-html-style :is(h1, h2, h3, h4, h5, h6):has(img) {
  display: flex;
  align-items: center;
}

.custom-html-style :is(h1, h2, h3, h4, h5, h6) img {
  max-height: 80px;
}

.custom-html-style :is(table) {
  margin: auto;
}

.custom-html-style tr:has(a[href="@blank"]) {
  background-color: #434343;
}

.custom-html-style > h1:first-of-type {
  font-size: 3em;
}

.custom-html-style :is(h1, h2, h3, h4, h5, h6) input[type="checkbox"] {
  display: none;
}

.custom-html-style :is(h1, h2, h3, h4, h5, h6) input[type="checkbox"] + label {
  display: block;
  flex: 1;
  cursor: pointer;
  background: var(--zz-bg);
  padding: 3px 12px 0;
  border-radius: 4px;
  border-bottom: 3px solid transparent;
  transition: border-color 300ms;
}

.custom-html-style
  :is(h1, h2, h3, h4, h5, h6)
  input[type="checkbox"]
  + label:hover,
.custom-html-style
  :is(h1, h2, h3, h4, h5, h6)
  input[type="checkbox"]:checked
  + label {
  border-bottom-color: inherit;
}

.custom-html-style
  :is(h1, h2, h3, h4, h5, h6):has(input[type="checkbox"]:not(:checked))
  + :is(blockquote),
.custom-html-style
  div
  > :first-child:is(h1, h2, h3, h4, h5, h6):has(
    input[type="checkbox"]:not(:checked)
  )
  ~ * {
  display: none;
}

.custom-html-style
  div:has(> :first-child :checked):has(
    > h1:first-child,
    > h2:first-child,
    > h3:first-child,
    > h4:first-child,
    > h5:first-child,
    > h6:first-child
  ) {
  padding: 0 12px 1px;
}

.custom-html-style
  div:has(> :first-child input[type="checkbox"]):has(
    > h4:first-child,
    > h5:first-child,
    > h6:first-child
  ) {
  background: var(--zz-bg);
  border-radius: 4px;
}

.custom-html-style div > :first-child:is(h1, h2, h3, h4, h5, h6):has(:checked) {
  margin-left: -12px;
  margin-right: -12px;
}
