h2:has(>input:not(:checked)) + blockquote, h2 input[type="checkbox"] {
display:none;
}

h2 input[type="checkbox"] + label {
display: flex;
cursor: pointer;
border-radius: 4px;
border-color: rgb(255 255 255 / .3);
border-width: 1.5px;
background: rgb(255 255 255 / 0.1);
padding: 5px 15px;
&:hover {background:rgb(255 255 255 / .2);}
}

h2 input:checked + label {
background: rgb(255 255 255 / .3)
}
