.carousel {
  position: relative;
  min-width: 100px;
  max-width: 500px;
  margin: 1em auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.carousel img {
  width: 100%;
  display: none;
}
.carousel img.active {
  display: block;
}
